#contact {
	background-color: #008080;
}

/* #contact h1 {
	color: rgb(233, 192, 233);
} */

/* #values {
	background-color: rgb(233, 192, 233);
}

#values .box {
	background-color: white;
} */
