.text-box {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#home {
  background: url(https://anuragoasis.github.io/designfoster/assets/img/bannner.jpg) 50% 0 repeat-y fixed;
  color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 90vh;
  text-align: center;
  background-position: center;
  background-size: cover;
}

